/*use this comment style. Double backslash does not work.*/

/*cancel the color of hyperlinks*/ 
a:link {
    text-decoration: none!important;
}
a:active {
    text-decoration: none!important;
}
a:hover {
    text-decoration: underline!important;
    color: #2196F3;
}
a:visited {
    text-decoration: none!important;
}

/*decorate the common elements on each page.*/
header {
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 5em;
}
footer {
    border-top-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    margin-top: 5em;
}
.rounded{
    border-radius: 20px;
}
.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blanked{
    padding: 3em,3em,5em;
}
