
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/date.js"></script>
<section id="commentsGithub">
    <h2>读者评论</h2>
    <!-- JavaScript objects are not JSON :-) -->
    <script type="text/javascript">
        // Global Variables
        var milestoneID = {{ page.milestoneID }};
        var apiIssues = "https://api.github.com/repos/mountaye/blog/issues";
        var dateOption =  { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'2-digit', minute:'2-digit', second:'2-digit' };
        var reaction_fa = { "+1": "thumbs-o-up",
                            "-1": "thumbs-o-down",
                            "laugh": "smile-o",
                            "hooray": "gift",
                            "confused": "frown-o",
                            "heart": "heart-o"};
        // Helping Functions 
        function getReactionsStr(json){
            var reactions="";
            for (iReact in reaction_fa){
                if (json[iReact] > 0){
                    reactions += '<i class="fa fa-'+ reaction_fa[reactionkey]+'"></i>' + reactions[reactionkey] + "&nbsp;";
                };
            };
            return reactions
        };
        function printAll(json){ 
            var htmlString = "<div class='ghReaderZone'><hr class='slender'>";
            for (var i = 0; i < json.length; i++){
                var issueDate = new Date(json[i].created_at).toLocaleString("zh-Hans", options);
                var issueReact = "";
                if (json[i].reactions){issueReact = getReactionsStr(json[i].reactions);};
                // Other variables easy to get from the json are hard-coded inside the string manipulation.
                htmlString += "<div class='ghIssue'><div class='ghIssueLogo'><a href='" + json[i].user.url + "'><img src='" + json[i].user.avatar_url + "' width='48' class='ghIssueObject'></a></div><div class='ghIssueBox'><h4 class='ghIssueHeading'><a class='ghIssueUser' href="+json[i].user.url+"> "+ json[i].user.login +" </a><small><a class='ghIssueDate' href=" + json[i].html_url + ">" + issueDate + "</a></small>&nbsp;"+ issueReact + "<span class='ghIssueTitle'>" + json[i].title + "</span></h4><div class='ghIssueBody markdown-body'>" + json[i].body + "</div></div></div>";
                for (var j = 0; j < json[i].commentsMountaye.length; j++){
                    var commentDate = new Date(json[i].commentsMountaye[j].created_at).toLocaleString("zh-Hans", options);
                    var commentReact = "";
                    if (json[i].commentsMountaye[j].reactions){commentReact = getReactionsStr(json[i].commentsMountaye[j].reactions);};
                    htmlString += "<div class='ghComment'><div class='ghCommentLogo'><a href='" + json[i].commentsMountaye[j].user.url + "'><img src='" + json[i].commentsMountaye[j].user.url + "' width='48' class='ghIssueObject'></a></div><div class='ghCommentBox'><h4 class='ghCommentHeading'><a class='ghCommentUser' href='" + json[i].commentsMountaye[j].user.url + "'>" + json[i].commentsMountaye[j].user.login + "</a><small>&nbsp; 留言於 &nbsp;<a class='ghCommentDate' href=' json[i].commentsMountaye[j].user.url '>" + commentDate + "</a></small>&nbsp;"+ commentReact + "</h4><div class='commentGithubFloorsBody markdown-body'>" + json[i].commentsMountaye[j].body + "</div></div></div>";
                };
            };
            htmlString += "</div>";
            return htmlString
        };
        // Main Function
        function loadComments(){
            var jsonIssues;
            $.ajax(apiIssues,
                  { type: "GET",
                    // data:     { "milestone": milestoneID },
                    headers:  {Accept:"application/vnd.github.v3.html+json"},
                    dataType: "json",
                    success:  function(msg){ jsonIssues = msg; }, 
                    error:    function(){alert("获取留言失败")} } )
            alert(jsonIssues);
            if (jsonIssues==undefined) { $("#githubissue_comments").append("<p>目前尚无评论。</p>"); return false };
            for (var j=0; j>jsonIssues.length; j++){
                if (jsonIssues[j].comments > 0){
                    var jsonComments;
                    $.ajax( jsonIssues.comments_url,
                            { type:"GET",
                              headers:  {Accept:"application/vnd.github.squirrel-girl-preview.full+json"},
                              dataType: "json",
                              success:  function(msg){jsonComments = msg;} });
                    jsonIssues[j].commentsMountaye = jsonComments;    
                };
            };
            var html = printAll(jsonIssues);
            $("#githubissue_comments").append(html);
            $(".email-hidden-toggle > a").on("click", function (e){ e.preventDefault();
                                                                    $(".email-hidden-reply", this.parent).toggle(); } ); 
            return true
        };
        // Real Working Code :-) 
        document.addEventListener("DOMContentLoaded", loadComments)
        
    </script>
    <noscript><p>查看留言，请启用 JavaScript。</p></noscript>
    
    <div id="commentHeader">
        <p>GitHub 用户可前往<a href="https://github.com/MountAye/blog/milestone/{{page.milestoneID}}">Issue 页面</a>进行评论。</p>
    </div>
    <div id="githubissue_comments"></div>
</section>
<div id="test"></div>
