<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <!-- Google Fonts loaded here depending on setting in _data/options.yml true loads font, blank does not-->
  {% if site.data.options.lato_font_load %}
    <link href='//fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
  {% endif %}
  <!-- Load up MathJax script if needed ... specify in /_data/options.yml file-->
  {% if site.data.options.mathjax %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?..."></script>
  {% endif %}
  {% if page.milestoneID %}
    <link rel="stylesheet" type="text/css" href="{{ '/css/github-markdown.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ '/css/tufte.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/print.css' | prepend: site.baseurl }}" media="print">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl }}" />
  <link rel="shortcut icon" href="{{'/assets/img/favicon.ico' | prepend: site.baseurl }}" >
</head>
