<DOCTYPE! html>
<html>
<head>
    <title>阿掖山：一个博客</title>
    <!---<base href="https://mountaye.github.io/blog/" target="_blank" />-->
    <link rel="stylesheet" type="text/css" href="/assets/css/mainHome.css">
    <meta charset="UTF-8">
    <meta name="description" content="阿掖山，一个博客">
    <meta name="keywords" content="阿掖山, 博客, 摄影, 随笔, Github Pages">
    <meta name="author" content="MountAye">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script></script>
    <noscript></noscript>
</head>
    <body>
        <header class="my-container">
            <h1> <a href="./" target="_self"> 阿掖山：一个博客 </a> </h1>
            <section id="homeSentence">
                <p style="text-indent:0em">
                    人活在世上，有的活成了面子，有的活成了里子，都是时势使然。<br>
                    ——《一代宗师》
                </p>
            </section>
        </header>
        <article id="homepage" class="my-container homeCentered">
            {{ content }}
        </article>
        <footer class="my-container" style="text-align:center">
            <p>
		&copy 阿掖山：一个博客</br>
	    	作者保留版权</br>
            	All Rights Reserved.
	    </p>
        </footer>
    </body>
</html>
