<!-- 2019-05-23 -->
<!-- ISSUES -->
'<div class="ghIssue" id="' + issueID + '">
    <h3 class="ghIssueTitle">' + issueTitle + '</h3>
    <div class="ghHeader">
        <div class="ghLogo">
            <a href="' + issueUserUrl + '">
                <img src="' + issueLogoUrl + '" width="50">
            </a>
        </div>
        <div class="ghAuthor">
            <p><a class="ghIssueAuthor" href="' + issueUserUrl + '">' + issueUser + '</a></p>
            <p><small class="ghCommentDate">' + issueDate + '</small></p>
        </div>
    </div>
    <blockquote class="ghBody markdown-body">' + issueBody + '</blockquote>
    <div class="ghFooter">
        <span class="ghFooterBottomLeft">' + issueReact + '</span>
        <span class="ghFooterBottomRight">
            <a class="ghAnchor" href="#' + issueID + '">' + '定位到此' + '</a>
            <a class="ghReply" href=" ' + issueUrl + ' ">' + '登录GitHub查看/回复' + '</a>
        </span>
    </div>'
<!-- AFTER ISSUES -->
    <hr class="slender">
</div>'
<!-- COMMENTS -->
'<div class="ghComment" id="' + issueID + commentID + '">
    <hr class="slender">
    <div class="ghHeader">
        <div class="ghLogo">
            <a href="' + commentUserUrl + '">
                <img src="' + commentLogoUrl + '" width="50">
            </a>
        </div>
        <div class="ghAuthor">
            <p><a class="ghCommentAuthor" href="' + commentUserUrl + '">' + commentUser + '</a></p>
            <p><small class="ghCommentDate">' + commentDate + '</small></p>
        </div>
    </div>
    <blockquote class="ghBody markdown-body">' + commentBody + '</blockquote>
    <div class="ghFooter">
        <span class="ghFooterBottomLeft">' + commentReact + '</span>
        <span class="ghFooterBottomRight">
            <a class="ghAnchor" href="#' + issueID + commentID + '">' + '定位到此' + '</a>
            &nbsp|&nbsp
            <a class="ghReply" href="' + commentUrl + '">' + '登录GitHub查看/回复' + '</a>
        </span>
    </div>
</div>'

<!-- INLINE -->
<!-- ISSUES -->
'<div class="ghIssue" id="' + issueID + '"><h3 class="ghIssueTitle">' + issueTitle + '</h3><div class="ghHeader"><div class="ghLogo"><a href="' + issueUserUrl + '"><img src="' + issueLogoUrl + '" width="50"></a></div><div class="ghAuthor"><p><a class="ghIssueAuthor" href="' + issueUserUrl + '">' + issueUser + '</a></p><p><small class="ghCommentDate">' + issueDate + '</small></p></div></div><blockquote class="ghBody markdown-body">' + issueBody + '</blockquote><div class="ghFooter"><span class="ghFooterBottomLeft">' + issueReact + '</span><span class="ghFooterBottomRight"><a class="ghAnchor" href="#' + issueID + '">' + '定位到此' + '</a>&nbsp|&nbsp<a class="ghReply" href=" ' + issueUrl + ' ">' + '登录GitHub查看/回复' + </a></span></div>'
<!-- AFTER ISSUES -->
    '<hr class="slender"></div>'
<!-- COMMENTS -->
'<div class="ghComment" id="' + issueID + commentID + '"><hr class="slender"><div class="ghHeader"><div class="ghLogo"><a href="' + commentUserUrl + '"><img src="' + commentLogoUrl + '" width="50"></a></div><div class="ghAuthor"><p><a class="ghCommentAuthor" href="' + commentUserUrl + '">' + commentUser + '</a></p><p><small class="ghCommentDate">' + commentDate + '</small></p></div></div><blockquote class="ghBody markdown-body">' + commentBody + '</blockquote><div class="ghFooter"><span class="ghFooterBottomLeft">' + commentReact + '</span><span class="ghFooterBottomRight"><a class="ghAnchor" href="#' + issueID + commentID + '">' + '定位到此' + '</a>&nbsp|&nbsp<a class="ghReply" href="' + commentUrl + '">' + '登录GitHub查看/回复' + </a></span></div></div>'