<!-- NEW -->
<!-- ISSUES -->
'<div class="ghIssue">
    <h3 class="ghIssueTitle">' + issueTitle + '</h3>
    <div class="ghBoth">
        <div class="ghLogo">
            <a href="' + issueUser + '">
                <img src="' + issueLogoUrl + '" width="48">
            </a>
        </div>
        <div class="ghText">
            <div class="ghIssueAuthorInfo">
                <a class="ghIssueAuthor" href="' + issueUserUrl + '">' + issueUser + '</a>
                <small class="ghIssueDate">' + issueDate + '</small>
            </div>
            <blockquote class="ghBody markdown-body">' + issueBody + '</blockquote>
            ' + issueReact + '
            <hr class="slender">
        </div>
    </div>
<!-- AFTER ISSUES -->
    <hr class="slender">
</div>'
<!-- COMMENTS -->
'<div class="ghComment">
    <div class="ghBoth">
        <div class="ghLogo">
            <a href="' + commentUserUrl + '">
                <img src="' + commentLogoUrl + '" width="48">
            </a>
        </div>
        <div class="ghText">
            <div class="ghCommentAuthorInfo">
                <a class="ghCommentAuthor" href="' + commentUserUrl + '">' + commentUser + '</a>
                <small class="ghCommentDate">' + commentDate + '</small>
            </div>
            <blockquote class="ghBody markdown-body">' + commentBody + '</blockquote>
            ' + commentReact + '
        </div>
    </div>
<!-- AFTER COMMENTS -->
    <hr class="slender">
</div>'
<!-- INLINE -->
<!-- ISSUES -->
'<div class="ghIssue"><h3 class="ghIssueTitle">' + issueTitle + '</h3><div class="ghBoth"><div class="ghLogo"><a href="' + issueUserUrl + '"><img src="' + issueLogoUrl + '" width="48"></a></div><div class="ghText"><div class="ghIssueAuthorInfo"><a class="ghIssueAuthor" href="' + issueUserUrl + '">' + issueUser + '</a><small class="ghIssueDate">' + issueDate + '</small></div><blockquote class="ghBody markdown-body">' + issueBody + '</blockquote>' + issueReact + '<hr class="slender"></div></div>'
<!-- AFTER ISSUES -->
'<hr class="slender"></div>'
<!-- COMMENTS -->
'<div class="ghComment"><div class="ghBoth"><div class="ghLogo"><a href="' + commentUserUrl + '"><img src="' + commentLogoUrl + '" width="48"></a></div><div class="ghText"><div class="ghCommentAuthorInfo"><a class="ghCommentAuthor" href="' + commentUserUrl + '">' + commentUser + '</a><small class="ghCommentDate">' + commentDate + '</small></div><blockquote class="ghBody markdown-body">' + commentBody + '</blockquote>' + commentReact + '</div></div>'
<!-- AFTER COMMENTS -->
'<hr class="slender"></div>'


<!-- Formatted -->
<!-- Before All Loops -->
<div class='ghReaderZone'>
    <hr class='slender'>
<!-- Outer Loops for Issues -->
"<div class='ghIssue'>
    <div class='ghLogo'>
        <a href='" + json[i].user.url + "'>
            <img src='" + json[i].user.avatar_url + "' width='48' class='ghIssueObject'>
        </a>
    </div>
    <div class='ghIssueBox'>
        <h4 class='ghIssueHeading'>
            <a class='ghIssueUser' href="+json[i].user.url+"> "+ json[i].user.login +" </a>
            <small>
                <a class='ghIssueDate' href=" + json[i].html_url + ">" + issueDate + "</a>
            </small>
            &nbsp;"+ issueReact + 
            "<span class='ghIssueTitle'>" + json[i].title + "</span>
        </h4>
        <div class='ghBody markdown-body'>" + json[i].body + "</div>
    </div>
</div>"    

<!-- Inner Loops for Comments -->
"<div class='ghComment'>
    <div class='ghLogo'>
        <a href='" + json[i].commentsMountaye[j].user.url + "'>
            <img src='" + json[i].commentsMountaye[j].user.url + "' width='48' class='ghIssueObject'>
        </a>
    </div>
    <div class='ghCommentBox'>
        <h4 class='ghCommentHeading'>
            <a class='ghCommentUser' href='" + json[i].commentsMountaye[j].user.url + "'>" + json[i].commentsMountaye[j].user.login + "</a>
            <small>
                &nbsp; 留言於 &nbsp;
                <a class='ghCommentDate' href=' json[i].commentsMountaye[j].user.url '>" + commentDate + "</a>
            </small>
            &nbsp;"+ commentReact + "
        </h4>
        <div class='commentGithubFloorsBody markdown-body'>
            " + json[i].commentsMountaye[j].body + "
        </div>
    </div>
</div>"


<!-- Strings -->
<!-- Before All Loops -->
"<div class='ghReaderZone'><hr class='slender'>"
<!-- Outer Loops for Issues -->
"<div class='ghIssue'><div class='ghLogo'><a href='" + json[i].user.url + "'><img src='" + json[i].user.avatar_url + "' width='48' class='ghIssueObject'></a></div><div class='ghIssueBox'><h4 class='ghIssueHeading'><a class='ghIssueUser' href="+json[i].user.url+"> "+ json[i].user.login +" </a><small><a class='ghIssueDate' href=" + json[i].html_url + ">" + issueDate + "</a></small>&nbsp;"+ issueReact + "<span class='ghIssueTitle'>" + json[i].title + "</span></h4><div class='ghBody markdown-body'>" + json[i].body + "</div></div></div>"    
<!-- Inner Loops for Comments -->
"<div class='ghComment'><div class='ghLogo'><a href='" + json[i].commentsMountaye[j].user.url + "'><img src='" + json[i].commentsMountaye[j].user.url + "' width='48' class='ghIssueObject'></a></div><div class='ghCommentBox'><h4 class='ghCommentHeading'><a class='ghCommentUser' href='" + json[i].commentsMountaye[j].user.url + "'>" + json[i].commentsMountaye[j].user.login + "</a><small>&nbsp; 留言於 &nbsp;<a class='ghCommentDate' href=' json[i].commentsMountaye[j].user.url '>" + commentDate + "</a></small>&nbsp;"+ commentReact + "</h4><div class='commentGithubFloorsBody markdown-body'>" + json[i].commentsMountaye[j].body + "</div></div></div>"
<!-- After All Loops -->
"</div>"